<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Link or Token</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container i {
            margin-bottom: 20px;
        }
        .container {
            text-align: center;
            background-color: #ffffff;
            padding: 10px 20px;
            border-radius: 8px;
            margin: 0px 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .message {
            font-size: 18px;
            text-align: center;
            margin: 20px 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <i class="fas fa-times-circle" style="color: red; font-size: 100px;"></i>
        <h1>Invalid Link or Token</h1>
        <p class="message">The link or token you have used is invalid or has expired. Please request a new password
            reset link again.</p>
    </div>
</body>

</html>